.background-circle {
    width: 33vw;
    height: 33vw;
    border-radius: 80%;
    position: absolute;
    top: -16.5vw;
    right: -16.5vw;
    z-index: 0;
    background-color: rgba(1, 164, 255, 0.32);;
}