.container-margins {
    display: flex;
    flex-direction: column;
}



.proj_greet {
    font-weight: 700;
    font-size: 100px;
    line-height: 30px;
}

@media screen and (max-width: 1115){
    .proj_greet {
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 750px){
    .proj_greet{
        text-align: center;
    }
}

@media screen and (max-width: 500px){

}