.Front-Page{
    color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 20%;
    top: 20%
}

.Front-Page>h1{
    font-weight: 400;
    font-size: 1.7em;
    letter-spacing: 1px;
    text-align: center;
}

.Front-Page>p {
    font-size: 1.125em;
    text-align: center; 
}

.shadow {
    background: radial-gradient(50% 50% at 49.9% 50%, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 120%;
}

#Hire_Button{
    margin-top: 2em;
    font-size: 1.2em;
    width: 5em;
    height: 3em;
}