.Front-Page{
    display: flex;

    height: var(--height);

    background-image: url(../../resources/phillip-cut.png);
    background-repeat: no-repeat;
    background-position: 70% 10%;  
    background-size:850px;
}

.Front-Page-content {
    color: white;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    width: 500px;
}


@media screen and (min-width: 776px){
    .Front-Page {
        justify-content: flex-start;
    }

    .Front-Page-content{
        display: inline-flex;
        margin-left: 20%;
    }

    
}

@media screen and (max-width: 775px) {
    .Front-Page {
        justify-content: center;
    }

    .Front-Page-content{
        display: flex;
    }
}




.Front-Page-content>h2{
    font-weight: 400;
    font-size: 1.7em;
    letter-spacing: 1px;
    text-align: center;
}

.Front-Page-content>p {
    font-size: 1.125em;
    text-align: center; 
}

.shadow {
    background: radial-gradient(50% 50% at 49.9% 50%, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 120%;
}

#Hire_Button{
    margin-top: 2em;
    font-size: 1.2em;
    width: 5em;
    height: 3em;
}