.navbar{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navbar>.disabled{
    color: #ADADAD;
}

@media screen and (max-width: 750px) {
    .navbar{
        display: flex;
        justify-content: center;
    }
}